api/itechart.connect.api.smg/Service References/SmgMobileService/MobileService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smg-new.icx.local/MobileServiceNew/MobileService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" />
  <xs:import schemaLocation="http://smg-new.icx.local/MobileServiceNew/MobileService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://smg-new.icx.local/MobileServiceNew/MobileService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.DataModel.Organization" />
  <xs:complexType name="AuthenticateOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="SessionId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AuthenticateOutput" nillable="true" type="tns:AuthenticateOutput" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permission" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="GetAllDepartmentsOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Depts" nillable="true" type="q1:ArrayOfDepartmentWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllDepartmentsOutput" nillable="true" type="tns:GetAllDepartmentsOutput" />
  <xs:complexType name="GetEmployeesListOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Profiles" nillable="true" type="q2:ArrayOfProfileShortWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEmployeesListOutput" nillable="true" type="tns:GetEmployeesListOutput" />
  <xs:complexType name="GetEmployeeDetailsOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Profile" nillable="true" type="q3:ProfileFullWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEmployeeDetailsOutput" nillable="true" type="tns:GetEmployeeDetailsOutput" />
  <xs:complexType name="GetAllRequestsOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Requests" nillable="true" type="q4:ArrayOfRequestWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllRequestsOutput" nillable="true" type="tns:GetAllRequestsOutput" />
  <xs:complexType name="GetRequestFormOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Form" nillable="true" type="q5:RequestFormWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetRequestFormOutput" nillable="true" type="tns:GetRequestFormOutput" />
  <xs:complexType name="GetAllRecipientsOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Recipients" nillable="true" type="q6:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllRecipientsOutput" nillable="true" type="tns:GetAllRecipientsOutput" />
  <xs:complexType name="GetAllAvailableListenersOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iTechArt.MG.DataModel.Organization" minOccurs="0" name="Items" nillable="true" type="q7:ArrayOfCCItemInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetAllAvailableListenersOutput" nillable="true" type="tns:GetAllAvailableListenersOutput" />
  <xs:complexType name="PostRequestOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostRequestOutput" nillable="true" type="tns:PostRequestOutput" />
  <xs:complexType name="GetEmployeeShortOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Profiles" nillable="true" type="q8:ArrayOfProfileExtraShortWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEmployeeShortOutput" nillable="true" type="tns:GetEmployeeShortOutput" />
  <xs:complexType name="GetEmployeeDetailsListOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Entities" minOccurs="0" name="Profiles" nillable="true" type="q9:ArrayOfProfileFullWS" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetEmployeeDetailsListOutput" nillable="true" type="tns:GetEmployeeDetailsListOutput" />
</xs:schema>