api/itechart.connect.api.smg/Service References/SmgMobileService/MobileService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iTechArt.MG.DataModel.Organization" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.DataModel.Organization" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfApproverListItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApproverListItem" nillable="true" type="tns:ApproverListItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApproverListItem" nillable="true" type="tns:ArrayOfApproverListItem" />
  <xs:complexType name="ApproverListItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApproverListItem" nillable="true" type="tns:ApproverListItem" />
  <xs:complexType name="ArrayOfProjectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectInfo" nillable="true" type="tns:ArrayOfProjectInfo" />
  <xs:complexType name="ProjectInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="PMName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectInfo" nillable="true" type="tns:ProjectInfo" />
  <xs:complexType name="ArrayOfCCItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CCItemInfo" nillable="true" type="tns:CCItemInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCCItemInfo" nillable="true" type="tns:ArrayOfCCItemInfo" />
  <xs:complexType name="CCItemInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CCItemInfo" nillable="true" type="tns:CCItemInfo" />
</xs:schema>