api/itechart.connect.api.smg/Service References/SmgMobileService/MobileService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smg-new.icx.local/MobileServiceNew/MobileService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" />
  <xs:import schemaLocation="http://smg-new.icx.local/MobileServiceNew/MobileService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Requests" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="AuthenticateResult" nillable="true" type="q1:AuthenticateOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAuthenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Requests" minOccurs="0" name="input" nillable="true" type="q2:PostAuthenticateInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostAuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="PostAuthenticateResult" nillable="true" type="q3:AuthenticateOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetAllDepartmentsResult" nillable="true" type="q4:GetAllDepartmentsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDepartmentsUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetAllDepartmentsUpdatedResult" nillable="true" type="q5:GetAllDepartmentsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetAllEmployeesResult" nillable="true" type="q6:GetEmployeesListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByDeptId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByDeptIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetEmployeesByDeptIdResult" nillable="true" type="q7:GetEmployeesListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByDeptIdUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
        <xs:element minOccurs="0" name="initialRequest" type="xs:boolean" />
        <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesByDeptIdUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetEmployeesByDeptIdUpdatedResult" nillable="true" type="q8:GetEmployeesListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetEmployeeDetailsResult" nillable="true" type="q9:GetEmployeeDetailsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="profileId" type="xs:int" />
        <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsUpdatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetEmployeeDetailsUpdatedResult" nillable="true" type="q10:GetEmployeeDetailsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetAllRequestsResult" nillable="true" type="q11:GetAllRequestsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="requestTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestFormResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetRequestFormResult" nillable="true" type="q12:GetRequestFormOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRecipientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetAllRecipientsResult" nillable="true" type="q13:GetAllRecipientsOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableListeners">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAvailableListenersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetAllAvailableListenersResult" nillable="true" type="q14:GetAllAvailableListenersOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Requests" minOccurs="0" name="requestData" nillable="true" type="q15:PostRequestInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="PostRequestResult" nillable="true" type="q16:PostRequestOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesShortInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="updatedDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="initialRequest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeesShortInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetEmployeesShortInfoResult" nillable="true" type="q17:GetEmployeeShortOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsListByDeptId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" type="xs:int" />
        <xs:element minOccurs="0" name="departmentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsListByDeptIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Responses" minOccurs="0" name="GetEmployeeDetailsListByDeptIdResult" nillable="true" type="q18:GetEmployeeDetailsListOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>