api/itechart.connect.api.smg/Service References/SmgMobileService/MobileService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iTechArt.MG.MobileService.Model.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://smg-new.icx.local/MobileServiceNew/MobileService.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="PostAuthenticateInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostAuthenticateInput" nillable="true" type="tns:PostAuthenticateInput" />
  <xs:complexType name="PostRequestInput">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApproverId" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CCIds" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EndTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsAllDayEvent" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsNotification" type="xs:boolean" />
      <xs:element minOccurs="0" name="ProjectManagers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestType" type="xs:int" />
      <xs:element minOccurs="0" name="SessionId" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostRequestInput" nillable="true" type="tns:PostRequestInput" />
</xs:schema>